body
{
    color:cadetblue;
    text-align: center;
    font-family: "Edwardian Script ITC";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#Cabezera 
{
    background: rgb(84, 235, 227);
    box-shadow: 0px 2px 20px opx rgba(0,0,0,0.5);
    color: rgb(241, 237, 237);
    font-family: "Times roman";
    font-weight: bold;
    padding: 0.5em;
}

#Cabezera #tagline
{
    padding: 0.1em;
    font-weight: normal; 
    font-size: 0.8em;
    font-family: "Times roman";
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgb(78, 184, 175);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
#post
{
    padding: 1em;
}